<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<h2>Danh sách các cầu thủ</h2>
<a href="/player/create" class="btn btn-primary">Thêm mới</a>
<div class="container">
    <div class="row">
        <div class="col-4" th:each="c : ${players}">
            <div class="justify-content-center" >
                <div class="card" style="width: 18rem;" >
                    <img src="https://banner2.cleanpng.com/20180324/zcq/kisspng-football-player-cartoon-football-5ab6a6e980f891.5574950615219197215283.jpg"  class="card-img-top" >
                    <div class="card-body text" >
                        <h5 class="card-title" th:text="${c.name}"></h5>
                        <h5 class="card-title" th:text="${c.id}"></h5>
                        <a th:href="@{/player/detail/{id}(id=${c.getId()})}" class="btn btn-primary">Chi Tiết</a>
                        <a th:href="@{/player/edit/{id}(id=${c.getId()})}"  class="btn btn-primary">Chỉnh sửa</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</html>
